.navs{
    background-color: white;
    padding: 20px;
    border: 1px solid grey;
}

ul{
    display: flex;
    flex-direction: row;
}

a{
    padding-inline-start: 200px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}